<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.adminMapper">
	
	<!-- 채용공고 목록 -->
	<select id="getRecBoardList" resultType="com.itwillbs.domain.RecBoardVO">
    	select
    	    r.rec_bno,
        	r.corp_id,
        	r.rec_title,
        	r.rec_maintask,
        	r.rec_preference,
        	r.rec_benefit,
        	r.topctg_id,
        	r.btmctg_id,
        	r.toplct_id,
        	r.rec_inputlct,
        	r.rec_qualification,
        	r.rec_deadline,
        	r.rec_viewcnt,
        	r.rec_regdate,
        	r.rec_updatedate,
       		r.thumbFileName,
       		r.attachFileName,
	        c.company_name as companyName
	    from rec_board r
	    left join corpmember c
        	on r.corp_id = c.corp_id
	    <where>
	        <if test="search != null and search != ''">
	            rec_title like concat('%', #{search}, '%')
	        </if>
	    </where>
	    order by r.rec_bno desc
	    limit #{pageStart}, #{pageSize}
	</select>
	
	<select id="getRecTotalCount" resultType="int">
    	select count(*)
    	from rec_board
    	<where>
    	    <if test="_parameter != null and _parameter != ''">
    	        rec_title like concat('%', #{_parameter}, '%')
    	    </if>
    	</where>
	</select>
	
	<!-- 채용공고 삭제 -->
	<delete id="deleteRecBoard" parameterType="int">
    	delete from rec_board
    	where rec_bno = #{rec_bno}
	</delete>
	
	
	<!-- 일반회원 목록 -->
	<select id="getAllNormalMembers" resultType="com.itwillbs.domain.MemberVO">
		select 
			id,
			userid,
			name,
			email,
			phone,
			membertype,
			is_deleted as isDeleted
		from member
		order by id desc
		limit #{pageStart}, #{pageSize}
	</select>

	<select id="getNormalMemberTotalCount" resultType="int">
		select count(*) 
		from member
		where is_deleted = 0
	</select>

	<!-- 기업회원 목록 -->
	<select id="getAllCorpMembers" resultType="com.itwillbs.domain.CorpMemberVO">
		select
	        corp_id                 as corpId,
	        corp_userid             as corpUserId,
	        corp_userpw             as corpUserPw,
	        manager_name            as managerName,
	        manager_email           as managerEmail,
	        manager_tel             as managerTel,
	        company_name            as companyName,
	
	        business_rno            as businessRno,
	        business_licenseurl     as businessLicenseUrl,

    	    ceo_name                as ceoName,
    	    company_address         as companyAddress,
    	    industry_type           as industryType,
    	    business_type           as businessType,
    	    corp_joined             as corpJoined,
    	    corp_updated            as corpUpdated,
    	    status                  as status,
    	    corp_checkdeleted       as corpCheckDeleted
    	from corpmember
		order by corp_id desc
		limit #{pageStart}, #{pageSize}
	</select>

	<!-- 기업회원 ID로 조회 -->
	<select id="getCorpMemberById" resultType="com.itwillbs.domain.CorpMemberVO">
	    SELECT
	        corp_id                 as corpId,
	        corp_userid             as corpUserId,
	        company_name            as companyName,
	        business_rno            as businessRno,
	        business_licenseurl     as businessLicenseUrl,
	        originalFileName        as originalFileName,
	        manager_email           as managerEmail,
	        manager_tel             as managerTel,
	        industry_type           as industryType,
	        status                  as status,
	        corp_checkdeleted       as corpCheckDeleted
	    FROM corpmember
	    WHERE corp_id = #{corpId}
	</select>
	
	<select id="getCorpMemberTotalCount" resultType="int">
		select count(*) 
		from corpmember
		where corp_checkdeleted = 0
	</select>
	
	<!-- 기업회원 승인 -->
	<update id="approveCorp" parameterType="int">
		update corpmember
		set status = 'A'
		where corp_id = #{value}
	</update>
	
	<!-- 기업회원 거절 -->
	<update id="denyCorp" parameterType="int">
		update corpmember
		set status = 'D'
		where corp_id = #{value}
	</update>
	
	<!-- 기업회원 삭제 -->
	<update id="deleteCorpMember">
    	update corpmember
    	set corp_checkdeleted = 1
    	where corp_id = #{corpId}
	</update>

	<!-- 회원 삭제 -->
	<update id="deleteMember">
		update member
    	set is_deleted = 1
    	where id = #{id}
	</update>

	<!-- 리뷰 목록 조회 -->
	<select id="getAllReviews" resultType="com.itwillbs.domain.ReviewVO">
		select 
	        review_id     as reviewId,
	        member_id     as memberId,
	        corp_id       as corpId,
	        job_code      as jobCode,
	        rev_title     as revTitle,
	        rev_content   as revContent,
	        rev_rate      as revRate,
	        rev_public    as revPublic,
	        rev_regdate   as revRegdate,
	        rev_updatedate as revUpdatedate
	    from review
	    order by review_id desc
	    limit #{pageStart}, #{pageSize}
	</select>

	<select id="getReviewTotalCount" resultType="int">
		select count(*) from review
	</select>

	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="int">
		delete from review where review_id = #{reviewId}
	</delete>
	
	<!-- 공지사항 목록 -->
	<select id="getNoticeListAll" resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id			as noticeId,
			admin_id			as adminId,
			notice_title		as noticeTitle,
			notice_content		as noticeContent,
			storedFileName		as storedFileName,
			notice_viewcnt		as noticeViewCnt,
			notice_regdate		as noticeRegdate,
			notice_updated		as noticeUpdated
		from notice_board
		<where>
			<if test="search != null and search != ''">
				notice_title like concat('%', #{search}, '%')
			</if>
		</where>
		order by notice_id desc
		limit #{pageStart}, #{pageSize}
	</select>
	
	
	<!-- 공지사항 총 개수 -->
	<select id="getTotalCountAll" resultType="int">
		select count(*)
		from notice_board
		<where>
			<if test="search != null and search != ''">
				notice_title like concat('%', #{search}, '%')
			</if>
		</where>
	</select>
	
	
	<!-- 공지사항 상세 조회 -->
	<select id="getNotice" resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id			as noticeId,
			admin_id			as adminId,
			notice_title		as noticeTitle,
			notice_content		as noticeContent,
			storedFileName		as storedFileName,
			notice_viewcnt		as noticeViewCnt,
			notice_regdate		as noticeRegdate,
			notice_updated		as noticeUpdated
		from notice_board
		where notice_id = #{noticeId}
	</select>
	
	
	<!-- 공지사항 작성 -->
	<insert id="insertNotice" parameterType="map">
		insert into notice_board (
			admin_id,
			notice_title,
			notice_content,
			storedFileName
		)
		select 
			id,
			#{noticeTitle},
			#{noticeContent},
			#{storedFileName}
		from member
		where userid = #{userid}
	</insert>
	
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="com.itwillbs.domain.NoticeVO">
		update notice_board
		set
			notice_title = #{noticeTitle},
			notice_content = #{noticeContent},
			notice_updated = now()
			<if test="storedFileName != null">
				, storedFileName = #{storedFileName}
			</if>
		where notice_id = #{noticeId}
	</update>
	
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		delete from notice_board
		where notice_id = #{noticeId}
	</delete>
	
	<!-- (S) 대시보트 통계용 쿼리 모음 -->
		<!-- 전체 회원 수 -->
	    <select id="getTotalMembers" resultType="int">
	        SELECT COUNT(*) FROM member
	    </select>
	
	    <!-- 일반 회원 수 -->
	    <select id="getGeneralMembers" resultType="int">
	        SELECT COUNT(*) FROM member WHERE is_deleted = '0'
	    </select>
	
	    <!-- 기업 회원 수 -->
	    <select id="getCorpMembers" resultType="int">
	        SELECT COUNT(*) FROM corpmember where status = 'A'
	    </select>
	
	    <!-- 전체 채용공고 수 -->
	    <select id="getTotalRecruits" resultType="int">
	        SELECT COUNT(*) FROM rec_board
	    </select>
	
	    <!-- 이번 주 신규 채용공고 수 -->
	    <select id="getWeeklyRecruits" resultType="int">
	        SELECT COUNT(*)
	        FROM rec_board
	        WHERE rec_regdate >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
	    </select>
	
	    <!-- 전체 공지 수 -->
	    <select id="getTotalNoticeCount" resultType="int">
	        SELECT COUNT(*) FROM notice_board
	    </select>
	
	    <!-- 가장 최근 공지 제목 -->
	    <select id="getLatestNoticeTitle" resultType="string">
	        SELECT notice_title
	        FROM notice_board
	        ORDER BY notice_id DESC
	        LIMIT 1
	    </select>
	
	    <!-- 전체 리뷰 수 -->
	    <select id="getTotalReviewCount" resultType="int">
	        SELECT COUNT(*) FROM review
	    </select>
	
	    <!-- 오늘 등록된 리뷰 수 -->
	    <select id="getTodayReviewCount" resultType="int">
	        SELECT COUNT(*)
	        FROM review
	        WHERE DATE(rev_regdate) = CURDATE()
	    </select>
	<!-- (E) 대시보트 통계용 쿼리 모음 -->
	
</mapper>