<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.BoardMapper">

	<!-- 게시글 보기 -->
	<select id="selectComBoardRead" resultType="ComBoardVO">
		select 
			cb.com_bno,
			m.userid, 
			m.name as writer,
			m.email,
			m.addr,
			cb.storedFileName,
			cb.com_title, 
			cb.com_content, 
			cb.com_viewcnt, 
			cb.com_regdate 
		from com_board cb 
		join member m on m.id = cb.member_id 
		where cb.com_bno = #{com_bno}
	</select>

	<!-- 게시판 글 목록 조회(페이징) -->
	<select id="selectComBoardListPage" resultType="ComBoardVO">
		select 
			cb.com_bno, 
			m.name as writer,
			m.email,
			m.addr,
			cb.com_title, 
			cb.com_content, 
			cb.com_viewcnt, 
			cb.com_regdate 
		from com_board cb 
		join member m on m.id = cb.member_id 
		order by cb.com_bno desc 
		limit #{pageStart}, #{pageSize} 
	</select>
	
	<!-- 게시판 모든 글 개수를 가져오기 -->
	<select id="selectTotalCount" resultType="int">
		select count(com_bno) from com_board
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertComBoard">
		insert into com_board (member_id,com_title,com_content,storedFileName) 
		values (#{member_id},#{com_title},#{com_content},#{storedFileName})
	</insert>
</mapper>
