<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.CorpMemberMapper">
	<!-- 기업회원 회원가입 -->
	<insert id="insertCorpMember">
        INSERT INTO corpmember (
            corp_userid, corp_userPw, manager_name, manager_email, manager_tel,
            company_name, business_rno, business_licenseurl, originalFileName, ceo_name,
            company_address, industry_type, business_type,
            corp_agreelocation, corp_agreeemail, corp_agreesms, status
        ) VALUES (
            #{corpUserId}, #{corpUserPw}, #{managerName}, #{managerEmail}, #{managerTel},
            #{companyName}, #{businessRno}, #{businessLicenseUrl}, #{originalFileName}, #{ceoName},
            #{companyAddress}, #{industryType}, #{businessType},
            #{corpAgreeLocation}, #{corpAgreeEmail}, #{corpAgreeSms}, #{status}
        )
    </insert>
    
    <!-- 아이디 중복 검사 -->
  	<select id="countByUserid" parameterType="string" resultType="int">
  		select count(*) from corpmember where corp_userid=#{corpUserId}
  	</select>
  	
  	<!-- 이메일 가입 확인 -->
	<select id="countByEmail" resultType="int">
		SELECT COUNT(*)
		FROM corpmember
		WHERE manager_email = #{managerEmail}
	</select>
    
    <!-- 기업회원 로그인 -->
    <select id="loginCorpMember" resultType="CorpMemberVO">
        SELECT * FROM corpmember
        WHERE corp_userid = #{corpUserId}
        AND corp_userPw = #{corpUserPw}
        AND corp_checkdeleted = '0'
    </select>

	<!-- 회원정보 아이디로 체크 -->
	<select id="getCorpMemberByUserid" resultType="CorpMemberVO">
        SELECT * FROM corpmember
        WHERE corp_userid = #{corpUserId}
    </select>
    
    <!-- 기업회원 정보 업데이트 -->
	<update id="updateCorpMember">
	    UPDATE corpmember
	    SET 
	        company_address = #{companyAddress},
	        manager_tel = #{managerTel},
	        corp_agreelocation = #{corpAgreeLocation},
	        corp_agreeemail = #{corpAgreeEmail},
	        corp_agreesms = #{corpAgreeSms}
	    WHERE corp_userid = #{corpUserId} 
	      AND corp_userPw = #{corpUserPw}
	</update>
    
    <!-- 기업 프로필 이미지 삭제 -->
	<update id="deleteCorpProfileImage">
	    UPDATE corpmember
	    SET corpProfileOriginal = NULL,
	        corpProfileStored = NULL
	    WHERE corp_id = #{corpId}
	</update>
    
    <!-- 기업 프로필 이미지 업데이트 -->
	<update id="updateCorpProfileImage">
	    UPDATE corpmember
	    SET corpProfileOriginal = #{corpProfileOriginal},
	        corpProfileStored = #{corpProfileStored}
	    WHERE corp_id = #{corpId}
	</update>
    
    <!-- 회원 탈퇴로 상태 변경하기 -->
    <update id="deleteCorpMember" parameterType="string">
	    UPDATE corpmember
	    SET corp_checkdeleted = 1,
	        status = 'D'
	    WHERE corp_userid = #{corpUserId}
	</update>
</mapper>