<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.EmailVerificationMapper">
  	<!-- 인증레코드 삽입 -->
    <insert id="insertVerification" >
      INSERT INTO email_verification (
        email, member_type, verification_code, created_at, expires_at, verified) 
      VALUES (
        #{email}, #{memberType}, #{verificationCode}, #{createdAt}, #{expiresAt}, #{verified})
    </insert>
    
    <!-- 가장 최신 인증레코드 조회 -->
    <select id="selectLatestByEmail" resultType="EmailVerificationVO">
      SELECT
        verification_id AS verificationId, email, member_type AS memberType,
        verification_code AS verificationCode, created_at AS createdAt, expires_at AS expiresAt, verified
      FROM email_verification
      WHERE email = #{email}
      AND member_type = #{memberType}
      ORDER BY created_at DESC
      LIMIT 1
    </select>
    
    <!-- 인증완료 상태 업데이트 -->
    <update id="updateVerifiedStatus" >
      UPDATE email_verification
         SET verified = #{verified}
       WHERE verification_id = #{verificationId}
    </update>
    
    <!-- 인증완료 체크용 쿼리 추가 -->
    <select id="countVerifiedByEmail" resultType="int">
    	SELECT COUNT(*)
    	FROM email_verification
    	WHERE email = #{email}
    	AND verified = #{verified}
    </select>
</mapper>