<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.NoticeMapper">

	<insert id="insertNotice">
		insert into notice_board
		(admin_id, notice_title, notice_content, storedFileName)
		values
		(#{adminId}, #{noticeTitle}, #{noticeContent}, #{storedFileName})
	</insert>

	<select id="getNotice" resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id as noticeId,
			admin_id as adminId,
			notice_title as noticeTitle,
			notice_content as noticeContent,
			storedFileName as storedFileName,
			notice_viewcnt as noticeViewCnt,
			notice_regdate as noticeRegdate,
			notice_updated as noticeUpdated
		from notice_board
		where notice_id = #{noticeId}
	</select>

	<update id="updateNotice">
		update notice_board
		set notice_title = #{noticeTitle},
			notice_content = #{noticeContent},
			storedFileName = #{storedFileName}
		where notice_id = #{noticeId}
	</update>

	<update id="deleteNotice">
		delete from notice_board
		where notice_id = #{noticeId}
	</update>

	<update id="updateViewCnt">
		update notice_board
		set notice_viewcnt = notice_viewcnt + 1
		where notice_id = #{noticeId}
	</update>
	
	<insert id="insert_notice_with_userid" parameterType="map">
		insert into notice_board (
			admin_id,
			notice_title,
			notice_content,
			storedFileName
		)
		select 
			m.id,
			#{noticeTitle},
			#{noticeContent},
			#{storedFileName}
		from member m
		where m.userid = #{userid}
	</insert>
	
	<!-- 일반회원/비회원용 -->
	<select id="getNoticeList"
		parameterType="com.itwillbs.domain.Criteria"
		resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id        as noticeId,
			admin_id         as adminId,
			notice_title     as noticeTitle,
			notice_content   as noticeContent,
			storedFileName   as storedFileName,
			notice_viewcnt   as noticeViewCnt,
			notice_regdate   as noticeRegdate,
			notice_updated   as noticeUpdated
		from notice_board
		where
			notice_title not like '[기업공지]%'
		<if test="search != null and search != ''">
			and notice_title like concat('%', #{search}, '%')
		</if>
		order by notice_id desc
		limit #{pageStart}, #{pageSize}
	</select>

	<!-- 일반회원/비회원용 -->
	<select id="getTotalCount"
		parameterType="com.itwillbs.domain.Criteria"
		resultType="int">
		select count(*)
		from notice_board
		where
			notice_title not like '[기업공지]%'
		<if test="search != null and search != ''">
			and notice_title like concat('%', #{search}, '%')
		</if>
	</select>

	<!-- 관리자/기업회원용 -->
	<select id="getNoticeListAll"
		parameterType="com.itwillbs.domain.Criteria"
		resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id        as noticeId,
			admin_id         as adminId,
			notice_title     as noticeTitle,
			notice_content   as noticeContent,
			storedFileName   as storedFileName,
			notice_viewcnt   as noticeViewCnt,
			notice_regdate   as noticeRegdate,
			notice_updated   as noticeUpdated
		from notice_board
		where 1=1
		<if test="search != null and search != ''">
			and notice_title like concat('%', #{search}, '%')
		</if>
		order by notice_id desc
		limit #{pageStart}, #{pageSize}
	</select>

	<!-- 관리자/기업회원용 -->
	<select id="getTotalCountAll"
		parameterType="com.itwillbs.domain.Criteria"
		resultType="int">
		select count(*)
		from notice_board
		where 1=1
		<if test="search != null and search != ''">
			and notice_title like concat('%', #{search}, '%')
		</if>
	</select>


</mapper>