<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.NoticeMapper">

	<insert id="insertNotice">
		insert into notice_board
		(admin_id, notice_title, notice_content, storedFileName)
		values
		(#{adminId}, #{noticeTitle}, #{noticeContent}, #{storedFileName})
	</insert>

	<select id="getNotice" resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id as noticeId,
			admin_id as adminId,
			notice_title as noticeTitle,
			notice_content as noticeContent,
			storedFileName as storedFileName,
			notice_viewcnt as noticeViewCnt,
			notice_regdate as noticeRegdate,
			notice_updated as noticeUpdated
		from notice_board
		where notice_id = #{noticeId}
	</select>

	<update id="updateNotice">
		update notice_board
		set notice_title = #{noticeTitle},
			notice_content = #{noticeContent},
			storedFileName = #{storedFileName}
		where notice_id = #{noticeId}
	</update>

	<update id="deleteNotice">
		delete from notice_board
		where notice_id = #{noticeId}
	</update>

	<update id="updateViewCnt">
		update notice_board
		set notice_viewcnt = notice_viewcnt + 1
		where notice_id = #{noticeId}
	</update>
	
	<insert id="insert_notice_with_userid" parameterType="map">
		insert into notice_board (
			admin_id,
			notice_title,
			notice_content,
			storedFileName
		)
		select 
			m.id,
			#{noticeTitle},
			#{noticeContent},
			#{storedFileName}
		from member m
		where m.userid = #{userid}
	</insert>
	
	<!-- 회원별 공지 필터 + 페이징 -->
	<select id="getNoticeListPaging" parameterType="map" resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id        as noticeId,
			admin_id         as adminId,
			notice_title     as noticeTitle,
			notice_content   as noticeContent,
			storedFileName   as storedFileName,
			notice_viewcnt   as noticeViewCnt,
			notice_regdate   as noticeRegdate,
			notice_updated   as noticeUpdated
		from notice_board
		where
			<choose>
				<!-- 관리자 -->
				<when test="memberType != null and memberType.equals('A')">
					1=1
				</when>
	
				<!-- 기업회원 -->
				<when test="userType != null and userType.equals('corp')">
					1=1
				</when>
	
				<!-- 일반회원 또는 비회원 -->
				<otherwise>
					notice_title not like '[기업공지]%'
				</otherwise>
			</choose>
		order by notice_id desc
		limit #{cri.pageStart}, #{cri.pageSize}
	</select>


	
	<!-- 전체 개수 -->
	<select id="getNoticeCount" parameterType="map" resultType="int">
		select count(*)
		from notice_board
		where
			<choose>
				<!-- 관리자 -->
				<when test="memberType != null and memberType.equals('A')">
					1=1
				</when>
	
				<!-- 기업회원 -->
				<when test="userType != null and userType.equals('corp')">
					1=1
				</when>
	
				<!-- 일반회원 또는 비회원 -->
				<otherwise>
					notice_title not like '[기업공지]%'
				</otherwise>
			</choose>
	</select>


</mapper>