<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.NoticeMapper">

	<insert id="insertNotice">
		insert into notice_board
		(admin_id, notice_title, notice_content, storedFileName)
		values
		(#{adminId}, #{noticeTitle}, #{noticeContent}, #{storedFileName})
	</insert>

	<select id="getNotice" resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id as noticeId,
			admin_id as adminId,
			notice_title as noticeTitle,
			notice_content as noticeContent,
			storedFileName as storedFileName,
			notice_viewcnt as noticeViewCnt,
			notice_regdate as noticeRegdate,
			notice_updated as noticeUpdated
		from notice_board
		where notice_id = #{noticeId}
	</select>

	<update id="updateNotice">
		update notice_board
		set notice_title = #{noticeTitle},
			notice_content = #{noticeContent},
			notice_updated = NOW()
			<if test="storedFileName != null">
        		, storedFileName = #{storedFileName}
    		</if>
		where notice_id = #{noticeId}
	</update>

	<delete id="deleteNotice">
		delete from notice_board
		where notice_id = #{noticeId}
	</delete>

	<update id="updateViewCnt">
		update notice_board
		set notice_viewcnt = notice_viewcnt + 1
		where notice_id = #{noticeId}
	</update>
	
	<insert id="insert_notice_with_userid" parameterType="map">
		insert into notice_board (
			admin_id,
			notice_title,
			notice_content,
			storedFileName
		)
		select 
			m.id,
			#{noticeTitle},
			#{noticeContent},
			#{storedFileName}
		from member m
		where m.userid = #{userid}
	</insert>
	
	<select id="getNoticeList"
		parameterType="com.itwillbs.domain.Criteria"
		resultType="com.itwillbs.domain.NoticeVO">
		select
			notice_id        as noticeId,
			admin_id         as adminId,
			notice_title     as noticeTitle,
			notice_content   as noticeContent,
			storedFileName   as storedFileName,
			notice_viewcnt   as noticeViewCnt,
			notice_regdate   as noticeRegdate,
			notice_updated   as noticeUpdated
		from notice_board
		where
			<if test="search != null and search != ''">
				and notice_title like concat('%', #{search}, '%')
			</if>
		order by notice_id desc
		limit #{pageStart}, #{pageSize}
	</select>

	<select id="getTotalCount"
		parameterType="com.itwillbs.domain.Criteria"
		resultType="int">
		select count(*)
		from notice_board
		where
			<if test="search != null and search != ''">
				and notice_title like concat('%', #{search}, '%')
			</if>
	</select>

	<select id="getRecentNotices" resultType="com.itwillbs.domain.NoticeVO">
        SELECT notice_id as noticeId, 
	        notice_title as noticeTitle,
	        admin_id as adminId,
	        notice_regdate as noticeRegdate
        FROM notice_board
        ORDER BY notice_regdate DESC
        LIMIT 5
    </select>
</mapper>