<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.ReviewMapper">

	<!-- 리뷰 등록 -->
	<insert id="insertReview" parameterType="com.itwillbs.domain.ReviewVO">
		insert into review (
			member_id, corp_id, job_code, work_months, 
			rev_title, rev_content, rev_rate, rev_pros, rev_cons, rev_public
		)
		values (
			#{memberId}, #{corpId}, #{jobCode}, #{workMonths},
			#{revTitle}, #{revContent}, #{revRate}, #{revPros}, #{revCons}, #{revPublic}
		)
	</insert>

	<!-- 직무 대분류 목록 -->
	<select id="getTopCategoryList" resultType="map">
		select 
			topctg_id as id, 
			topctg_name as name
		from top_category
		order by topctg_name
	</select>

	<!-- 직무 소분류 목록 -->
	<select id="getBottomCategoryList" resultType="map">
		select 
			btmctg_id as id, 
			btmctg_name as name
		from bottom_category
		where topctg_id = #{topId}
		order by btmctg_name
	</select>
	
	<select id="getCorpIdByName" parameterType="string" resultType="int">
    	select corp_id
    	from corpmember
    	where company_name = #{companyName}
    	limit 1
	</select>

	<!-- 리뷰 수정 -->
	<update id="updateReview" parameterType="com.itwillbs.domain.ReviewVO">
		update review
		join bottom_category b on r.job_code = b.btmctg_id
		join top_category t on b.topctg_id = t.topctg_id
		set 
			r.rev_title = #{revTitle},
			r.rev_content = #{revContent},
			r.rev_rate = #{revRate},
			r.rev_pros = #{revPros},
			r.rev_cons = #{revCons},
			r.rev_public = #{revPublic},
			r.job_code = #{jobCode},
			rev_updatedate = now()
		where r.review_id = #{reviewId}
	</update>

	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="int">
		delete from review 
		where review_id = #{value}
	</delete>
	
	<!-- 전체 리뷰 페이징 -->
	<select id="getListPaging" parameterType="com.itwillbs.domain.Criteria" resultType="com.itwillbs.domain.ReviewVO">
		select
			review_id as reviewId,
			member_id as memberId,
			corp_id as corpId,
			rev_title as revTitle,
			rev_rate as revRate,
			rev_regdate as revRegdate,
			rev_updatedate as revUpdatedate,
			rev_viewcnt as revViewcnt
		from review
		where rev_public = 'y'
		
		<if test="search != null and search != ''">
        	and (rev_title like concat('%', #{search}, '%')
       		or rev_content like concat('%', #{search}, '%'))
    	</if>
    	
		order by review_id desc
		limit #{pageStart}, #{pageSize}
	</select>

	<select id="getTotalCount" parameterType="com.itwillbs.domain.Criteria" resultType="int">
		select count(*)
    	from review
    	where rev_public = 'y'

    
    	<if test="search != null and search != ''">
    	    and (rev_title like concat('%', #{search}, '%')
    	    or rev_content like concat('%', #{search}, '%'))
    	</if>
	</select>

	<!-- 리뷰 상세 조회 -->
	<select id="reviewDetail" parameterType="int" resultType="com.itwillbs.domain.ReviewVO">
		select
			r.review_id as reviewId,
			r.member_id as memberId,
			r.corp_id as corpId,
			r.job_code as jobCode,
			r.work_months as workMonths,
			r.rev_title as revTitle,
			r.rev_content as revContent,
			r.rev_rate as revRate,
			r.rev_pros as revPros,
			r.rev_cons as revCons,
			r.rev_public as revPublic,
			r.rev_regdate as revRegdate,
			r.rev_updatedate as revUpdatedate,
			r.rev_viewcnt as revViewcnt,
			b.btmctg_id as bottomCategoryId,
			b.btmctg_name as bottomCategoryName,
			t.topctg_id as topCategoryId,
			t.topctg_name as topCategoryName
		from review r
		join bottom_category b on r.job_code = b.btmctg_id
		join top_category t on b.topctg_id = t.topctg_id
		where r.review_id = #{reviewId}
	</select>

	<!-- 회원별 리뷰 페이징 -->
	<select id="getListByMemberPaging" parameterType="map" resultType="com.itwillbs.domain.ReviewVO">
		select
			review_id as reviewId,
			corp_id as corpId,
			rev_title as revTitle,
			rev_rate as revRate,
			rev_regdate as revRegdate,
			rev_updatedate as revUpdatedate,
			rev_viewcnt as revViewcnt
		from review
		where member_id = #{memberId}
		
		<if test="search != null and search != ''">
        	and (rev_title like concat('%', #{search}, '%')
        	or rev_content like concat('%', #{search}, '%'))
    	</if>
		
		order by review_id desc
		limit #{cri.pageStart}, #{cri.pageSize}
	</select>

	<select id="getTotalByMember" parameterType="int" resultType="int">
		select count(*) 
		from review 
		where member_id = #{memberId}
		<if test="search != null and search != ''">
        	and (rev_title like concat('%', #{search}, '%')
        	or rev_content like concat('%', #{search}, '%'))
    	</if>
		
	</select>
	
	
	<!-- 기업별 리뷰 페이징 -->
	<select id="getListByCorpPaging" parameterType="map" resultType="com.itwillbs.domain.ReviewVO">
		select
			review_id as reviewId,
			member_id as memberId,
			rev_title as revTitle,
			rev_rate as revRate,
			rev_regdate as revRegdate,
			rev_updatedate as revUpdatedate,
			rev_viewcnt as revViewcnt
		from review
		where corp_id = #{corpId}
		
		<if test="search != null and search != ''">
        	and (rev_title like concat('%', #{search}, '%')
        	or rev_content like concat('%', #{search}, '%'))
    	</if>
    	
		order by review_id desc
		limit #{cri.pageStart}, #{cri.pageSize}
	</select>
	
	<select id="getTotalByCorp" parameterType="int" resultType="int">
		select count(*) 
		from review 
		where corp_id = #{corpId}
		<if test="search != null and search != ''">
        	and (rev_title like concat('%', #{search}, '%')
        	or rev_content like concat('%', #{search}, '%'))
    	</if>
	</select>	
	
	<!-- 리뷰 작성자 비밀번호 확인 -->
	<select id="getMemberPasswordByReviewId" parameterType="int" resultType="string">
		select 
			m.userpw
		from review r
		join member m on r.member_id = m.id
		where r.review_id = #{reviewId}
	</select>
	
	<!-- userid로 member_id 가져오기 -->
	<select id="getMemberIdByUserid" parameterType="string" resultType="java.lang.Integer">
		select 
			id
		from member
		where userid = #{userid}
	</select>
	
	<!-- 기업 이름 조회 -->
	<select id="getCompanyNameByCorpId" resultType="string">
		select company_name as companyName
		from corpmember
		where corp_id = #{corpId}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt">
    	update review
    	set rev_viewcnt = rev_viewcnt + 1
    	where review_id = #{reviewId}
	</update>
	
	<select id="getRecentReviews" resultType="com.itwillbs.domain.ReviewVO">
        SELECT 
	        r.review_id AS reviewId,
	        r.rev_title AS revTitle,
	        r.rev_content AS revContent,
	        r.rev_rate AS revRate,
	        r.rev_regdate AS revRegdate,
	        
	        
	        m.id AS userid,
	        m.originalFileName AS originalFileName,
	        m.storedFileName AS storedFileName
	        
	    FROM review r
	    LEFT JOIN member m 
	        ON r.member_id = m.id 
	        
	    ORDER BY r.rev_regdate DESC
	    LIMIT 4
    </select>
    
    <select id="getAverageRateByCorp" resultType="double">
		SELECT AVG(rev_rate)
		FROM review
		WHERE corp_id = #{corpId}
	</select>


</mapper>
