@charset "UTF-8";
.fix-layout{max-width:1500px; width:100%; margin:0 auto; padding:0 2.5%;}
html{scroll-behavior:smooth}
body{font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; font-size:16px; letter-spacing: -0.05em;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.form-control{appearance:auto !important;}
:root{
	--main-color:#0d6efd;
	--text-color:#222222;
}



/* header */
#searchBar{background:#fff; border:1px solid #e5e5e5; display:flex; border-radius: 8px; padding:4px; gap:10px}
#searchBar input, #searchBar select{border:0;}
#searchBar .searchBtn{color:#dcdcdc; display:flex; align-items:center; padding-right:10px;}


.header .button{display:inherit!important; align-items:center}
.header .button .login{display:inherit; padding:0; border-radius:4px; color: #5a5a5a; font-weight:500; font-size:14px; align-items:center;}
.header .button .login i{display:inherit;margin-right:5px;font-size:14px;line-height:45px;margin-right:8px}
.header .button .login:hover{color:#081828;border-color:transparent}
.header .button .btn{color:#fff;padding:0!important;display:inline-block;overflow:hidden;position:relative;z-index:2;background: var(--main-color);border:none;font-size:14px;font-weight:500;-webkit-box-shadow:none;box-shadow:none;padding:0 10px;height:36px;line-height:36px;width:100px; margin-left:30px}
.header .button .btn:hover{color:#fff;background-color:#081828;border-color:transparent;-webkit-transform:none;transform:none}
.header .navbar-nav li .sub-menu{background:#fff;width:220px;text-align:left;position:absolute;top:100%;z-index:999;opacity:0;visibility:hidden;padding:15px;left:0;margin:0;-webkit-box-shadow:1px 4px 12px #33333340;box-shadow:0 13px 20px #9999990f;-webkit-transition:all .3s ease 0s;transition:all .3s ease 0s;z-index:9999999;-webkit-transform-origin:0 0 0;transform-origin:0 0 0;-webkit-transform:scaleY(0.2);transform:scaleY(0.2);border-radius:0 0 3px 3px}
.header .navbar-nav li:hover .sub-menu{opacity:1;visibility:visible;-webkit-transform:scaleY(1);transform:scaleY(1)}
.header .navbar-nav li .sub-menu li{float:none;margin:0;display:block;margin-bottom:6px}
.header .navbar-nav li .sub-menu li:last-child{margin-bottom:0;border:none}
.header .navbar-nav li .sub-menu li a{padding:10px 15px;color:#666;display:block;font-size:14px;font-weight:400;text-transform:capitalize;background:transparent;border-radius:3px;font-weight:400}
.header .navbar-nav li .sub-menu li a:before{display:none}
.header .navbar-nav li .sub-menu li a:hover:before{opacity:1;visibility:visible}
.header .navbar-nav li .sub-menu li:last-child a{border-bottom:0}
.header .navbar-nav li .sub-menu li:hover a{color:#fff;background: var(--main-color)}
.header .navbar-nav li .sub-menu li .sub-menu li:hover .sub-menu{opacity:1;visibility:visible;-webkit-transform:scaleY(1);transform:scaleY(1)}
.header.index2 .sticky .nav-item a{color:#081828!important}
.header.index2 .sticky .nav-item a:hover{color: var(--main-color)!important}
.header.index2 .sticky .nav-item a.active{color: var(--main-color)!important}
.header.index2 .navbar-area.sticky .navbar-nav li .sub-menu li a.active{color:#fff!important}
.header.index2 .logo{position:relative;margin:0;padding:0;top:-16px}
.header.index2 .logo img{position:absolute;left:0;top:0;-webkit-transition:all .4s ease;transition:all .4s ease}
.header.index2 .logo .logo1{opacity:0;visibility:hidden}
.header.index2 .navbar-nav .nav-item a{color:#fff}
.header.index2 .navbar-nav .nav-item a::before{background-color:#fff}
.header.index2 .button .btn:hover{background-color:#fff;color: var(--main-color)}
.header.index2 .sticky .logo .logo1{opacity:1;visibility:visible}
.header.index2 .sticky .logo .logo2{opacity:0;visibility:hidden}
.header.index2 .sticky .nav-item a::before{background-color: var(--main-color)}
.header.index2 .navbar-nav li .sub-menu{border-radius:3px}
.header.index2 .navbar-nav .sub-menu li a{color:#081828}
.header.index2 .navbar-nav .sub-menu li a:hover{color:#fff!important}
.header.index4 .navbar-area{position:absolute}
.header.index4 .sticky{position:fixed;top:0}
.header.style4 .navbar-area{background-color:#fff;border:none}
.navbar-area{width:100%;z-index:99;-webkit-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;position:absolute;border-bottom:1px solid #e6e6e6; background:#fff;}
.sticky{position:fixed;z-index:99;background-color:#fff;-webkit-box-shadow:0 20px 50px 0 #0000000d;box-shadow:0 20px 50px 0 #0000000d;-webkit-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;top:0}
.sticky .navbar .navbar-nav .nav-item a{color:#333}
.sticky .navbar .navbar-nav .nav-item a.active{color: var(--main-color)}
.sticky .navbar .navbar-toggler .toggler-icon{background:#333}
.navbar{padding:0;border-radius:5px;position:relative;-webkit-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s; display:flex; flex-wrap:wrap; justify-content:space-between; align-items:center; }
.navbar .navbar-collapse{width:80%}
#mobileBtn{display:none;}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar{padding:17px 0}
	.navbar-brand img{width:130px}
	.header .button{margin:0;}
	.header.index2 .sticky .navbar .navbar-toggler .toggler-icon{background:#081828!important}
	.header .navbar-nav li .sub-menu{background:#fff;width:200px;padding:10px;z-index:9999999;left:95px;opacity:1;visibility:visible;position:relative;left:13px;top:0;-webkit-transform:scaleY(1)!important;transform:scaleY(1)!important;border:1px dashed #eee;border-radius:5px;-webkit-box-shadow:none;box-shadow:none}
	.header .navbar-nav li .sub-menu li a{padding:5px 10px;font-size:13px;padding:8px 12px;font-size:12px}
	.header .navbar-nav li a:hover .sub-menu{top:42px}
	.header .navbar-nav li a{position:relative;margin-bottom:6px}
	.navbar-collapse{overflow:scroll;height:400px;-webkit-transition:all .4s ease;transition:all .4s ease}
	.navbar-nav .nav-item:last-child{padding-bottom:20px}
	
	.footer .footer-top{text-align:center}
	.footer .footer-top .download-button{text-align:center!important;margin-top:20px}
	.footer .footer-middle{padding-bottom:60px;padding-top:30px}
	.footer .f-about p{padding-right:80px}
	.footer .single-footer{margin-top:30px}
}
@media all and (max-width:991px){
	#mobileBtn{display:block;}
	#gnb{justify-content:end;}
	.navbar .navbar-collapse{width:100%;}
}
@media (max-width: 767px) {
.navbar{padding:17px 0}
}
.navbar-brand{padding:0; margin-right:0;}
.navbar-brand img{width:135px}
.navbar-toggler{padding:0;background-color: var(--main-color);padding:5px 8px!important;-webkit-transition:all .4s ease;transition:all .4s ease}
.navbar-toggler .toggler-icon{background-color:#fff!important}
.navbar-toggler:hover{background-color:#081828!important}
.navbar-toggler:focus{outline:none;-webkit-box-shadow:none;box-shadow:none}
.navbar-toggler .toggler-icon{width:22px;height:2px;background-color:#333;display:block;margin:5px 0;position:relative;-webkit-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}
.navbar-toggler.active .toggler-icon:nth-of-type(1){-webkit-transform:rotate(45deg);transform:rotate(45deg);top:7px}
.navbar-toggler.active .toggler-icon:nth-of-type(2){opacity:0}
.navbar-toggler.active .toggler-icon:nth-of-type(3){-webkit-transform:rotate(135deg);transform:rotate(135deg);top:-7px}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-collapse{position:absolute;top:100%;left:0;width:100%;background-color:#fff;z-index:9;-webkit-box-shadow:0 15px 20px 0 #0000001a;box-shadow:0 15px 20px 0 #0000001a;padding:5px 12px}
}
@media (max-width: 767px) {
	.navbar-collapse{position:absolute;top:100%;left:0;width:100%;background-color:#fff;z-index:9;-webkit-box-shadow:0 15px 20px 0 #1d2a5d1a;box-shadow:0 15px 20px 0 #1d2a5d1a;padding:5px 12px}
}
.navbar-nav .nav-item{position:relative;margin-right:38px}
.navbar-nav .nav-item a{font-size:16px;font-weight:500;color:#333;-webkit-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;padding:15px 0;position:relative;text-transform:capitalize}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .nav-item a{display:inline-block;padding:6px 0;color:#5E678C}
}
@media (max-width: 767px) {
	.navbar-nav .nav-item a{display:inline-block;padding:6px 0;color:#5E678C}
}
.navbar-nav .nav-item a::before{content:'';position:absolute;bottom:0;height:3px;background: var(--main-color);z-index:-1;opacity:0;border-radius:10px;-webkit-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;z-index:5;width:0;left:0}
.navbar-nav .nav-item a::after{width:20%;right:0}
.navbar-nav .nav-item a:hover,.navbar-nav .nav-item a.active{color: var(--main-color)}
.navbar-nav .nav-item:hover a:before,.navbar-nav .nav-item a.active::before{opacity:1;width:100%}
.header .navbar-nav li .sub-menu li a.active{background-color: var(--main-color)!important;color:#fff!important}
.navbar-nav .nav-item a i{display:inline-block;margin-left:4px;font-size:10px}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .nav-item a:hover::after,.navbar-nav .nav-item a:hover::before,.navbar-nav .nav-item a.active::after,.navbar-nav .nav-item a.active::before{opacity:1}
}
@media (max-width: 767px) {
	.navbar-nav .nav-item a:hover::after,.navbar-nav .nav-item a:hover::before,.navbar-nav .nav-item a.active::after,.navbar-nav .nav-item a.active::before{opacity:1}
}
.navbar-nav .nav-item:hover .sub-menu{top:100%;opacity:1;visibility:visible}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .nav-item:hover .sub-menu{top:0}
}
@media (max-width: 767px) {
	.navbar-nav .nav-item:hover .sub-menu{top:0}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .nav-item .sub-menu{position:relative;width:100%;top:0;display:block;opacity:1;visibility:visible}
}
@media (max-width: 767px) {
	.navbar-nav .nav-item .sub-menu{position:relative;width:100%;top:0;display:block;opacity:1;visibility:visible}
}
.navbar-nav .sub-nav-toggler{display:block}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .sub-nav-toggler{display:block;position:absolute;right:0;top:0;background:none;color:#222;font-size:18px;border:0;width:30px;height:30px}
}
@media (max-width: 767px) {
	.navbar-nav .sub-nav-toggler{display:block;position:absolute;right:0;top:0;background:none;color:#222;font-size:18px;border:0;width:30px;height:30px}
}
.navbar-nav .sub-nav-toggler span{width:8px;height:8px;border-left:1px solid #222;border-bottom:1px solid #222;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);position:relative;top:-5px}
.header{position:relative}


/* footer*/
.footer{background-color:#f5f5f5;z-index:2;position:relative}
.footer .footer-top{border-bottom:1px solid #eee;padding:60px 0}
.footer .footer-top .download-text h3{font-size:30px;color:#081828;display:block;margin-bottom:20px;font-weight:700}
.footer .footer-top .download-button{text-align:right}
.footer .footer-top .download-button .btn{display:inline-block;margin-right:10px}
.footer .footer-top .download-button .btn:last-child{margin-right:0}
.footer .footer-top .download-button .btn i{font-size:18px;display:inline-block;margin-right:5px}
.footer .logo{margin-bottom:26px}
.footer .logo img{width:150px}
.footer .f-about p{font-size:14px;line-height:28px;color:#7E8890}
.footer .f-about .contact-address{margin-top:20px}
.footer .f-about .contact-address li{display:block;margin-bottom:5px}
.footer .f-about .contact-address li:last-child{margin-bottom:0}
.footer .f-about .contact-address li span{font-weight:500;color:#081828;display:inline-block;margin-right:4px}
.footer .footer-social{margin-top:35px}
.footer .footer-social ul li{display:inline-block;margin-right:6px}
.footer .footer-social ul li:last-child{margin-right:0}
.footer .footer-social ul li a{font-size:14px;color:#081828;height:40px;width:40px;text-align:center;display:block;line-height:40px;background:#E8ECF1;border:none;border-radius:4px;position:relative;z-index:3}
.footer .footer-social ul li a:hover{color:#fff;background-color: var(--main-color);-webkit-box-shadow:0 1rem 3rem #23262d26!important;box-shadow:0 1rem 3rem #23262d26!important}
.footer .footer-middle{padding-bottom:70px;padding-top:40px}
.footer .single-footer{margin-top:30px}
.footer .single-footer h3{color:#081828;font-size:19px;font-weight:600;position:relative;text-transform:capitalize;margin-bottom:30px;font-weight:500}
.footer .f-link ul li{margin-bottom:15px;position:relative}
.footer .f-link ul li:last-child{margin:0}
.footer .f-link ul li a{display:inline-block;color:#7E8890;font-size:14px;font-weight:400;position:relative;-webkit-transition:all .3s ease;transition:all .3s ease}
.footer .f-link ul li a:hover{color: var(--main-color);text-decoration:underline}
.footer .footer-bottom{border-top:1px solid #eee}
.footer .footer-bottom .inner{padding:30px 0;text-align:left}
.footer .footer-bottom .inner p{font-size:14px;color:#7E8890}
.footer .footer-bottom .inner p a{font-weight:400;display:inline-block;margin-left:6px;color:#7E8890}
.footer .footer-bottom .inner p a:hover{color: var(--main-color);text-decoration:underline}
.footer .footer-bottom .inner .right ul{text-align:right}
.footer .footer-bottom .inner .right ul li{display:inline-block;margin-right:15px}
.footer .footer-bottom .inner .right ul li:last-child{margin:0}
.footer .footer-bottom .inner .right ul li a{color:#7E8890}
.footer .footer-bottom .inner .right ul li a:hover{text-decoration:underline;color: var(--main-color)}
.footer .newsletter form{margin-top:30px}
.footer .newsletter input{width:100%;height:50px;border-radius:4px;border:1px solid #eee;color:#081828;padding:0 25px}
.footer .newsletter button{height:50px;margin-top:15px;width:100%}
@media only screen and (max-width:767px){
	.footer .footer-top{text-align:center}
	.footer .footer-top .download-text h3{font-size:22px!important}
	.footer .footer-top .download-button{text-align:center!important;margin-top:20px}
	.footer .footer-top .download-button .button .btn{width:70%;margin:0!important;margin-bottom:10px!important}
	.footer .footer-top .download-button .button .btn:last-child{margin:0!important}
	.footer .footer-middle{padding-bottom:50px!important;padding-top:20px!important}
	.footer .f-about p{padding-right:80px;line-height:24px!important}
	.footer .f-link ul li{margin-bottom:10px!important}
	.footer .single-footer h3{margin-bottom:22px!important}
	.footer .single-footer{margin-top:30px}
	.footer .footer-bottom{text-align:center}
	.footer .footer-bottom .left{margin-bottom:15px}
	.footer .footer-bottom .left p{text-align:center}
	.footer .footer-bottom .right ul{text-align:center!important}
}


/* modal */
.modal{position:fixed;top:0;left:0;z-index:1050;display:none;width:100%;height:100%;overflow:hidden;outline:0}
.modal.show .modal-dialog{pointer-events:visible}
.modal .login-modal-main{background-color:#fff;padding:50px;border-radius:6px;overflow:hidden}
.modal .login-modal-main .heading h3{color:#081828;font-size:26px;font-weight:700;position:relative;margin-bottom:15px;padding-bottom:15px;line-height:32px}
.modal .login-modal-main .heading h3::before{position:absolute;content:"";left:0;bottom:0;height:2px;width:50px;background-color: var(--main-color)}
.modal .login-modal-main .social-login{margin-top:30px}
.modal .login-modal-main .social-login ul li{margin-bottom:10px}
.modal .login-modal-main .social-login ul li:last-child{margin-bottom:0}
.modal .login-modal-main .social-login ul li a{text-align:center;position:relative;background-color: var(--main-color);padding:13px 30px;color:#fff;width:100%;border-radius:5px;font-size:14px;text-transform:capitalize;font-weight:600;z-index:2}
.modal .login-modal-main .social-login ul li a::before{position:absolute;content:"";left:0;top:0;height:100%;width:100%;background-color:#000;opacity:0;visibility:hidden;-webkit-transition:all .4s ease;transition:all .4s ease;z-index:-1}
.modal .login-modal-main .social-login ul li a:hover::before{opacity:.2;visibility:visible}
.modal .login-modal-main .social-login ul li a i{position:absolute;left:30px;top:14px;font-size:20px}
.modal .login-modal-main .social-login ul li .linkedin{background-color:#0077B5}
.modal .login-modal-main .social-login ul li .google{background-color:#dd4b39}
.modal .login-modal-main .social-login ul li .facebook{background-color:#3b5999}
.modal .login-modal-main .or-devider{text-align:center;position:relative;z-index:1}
.modal .login-modal-main .or-devider span{display:inline-block;background:#fff;padding:15px 25px}
.modal .login-modal-main .or-devider::before{content:"";height:1px;width:100%;top:50%;left:0;margin-top:1.5px;position:absolute;background:#eee;z-index:-1}
.modal .login-modal-main .form-group{margin-bottom:20px}
.modal .login-modal-main .form-group:last-child{margin-bottom:0}
.modal .login-modal-main .form-group .label{font-size:15px;font-weight:500;color:#081828;display:block;margin-bottom:8px}
.modal .login-modal-main .form-group .form-control{height:50px;border:1px solid #eee;padding:0 30px;color:#081828;border-radius:5px;font-size:15px}
.modal .login-modal-main .form-group .pass{padding-right:50px}
.modal .login-modal-main .button{width:100%}
.modal .login-modal-main .button .btn{width:100%}
.modal .login-modal-main .create-new-account{color:#081828;font-size:15px}
.modal .login-modal-main .create-new-account a{color: var(--main-color)}
.modal .login-modal-main .create-new-account a:hover{text-decoration:underline}