@charset "UTF-8";
ul, li{list-style:none}
p{margin:0;padding:0}
*{margin:0;padding:0}
.navbar-toggler:focus,a:focus,input:focus,textarea:focus,button:focus,.btn:focus,.btn.focus,.btn:not(:disabled):not(.disabled).active,.btn:not(:disabled):not(.disabled):active{text-decoration:none;outline:none}
span,a{display:inline-block;text-decoration:none;transition:all .4s ease;-webkit-transition:all .4s ease;-moz-transition:all .4s ease}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
h1,h2,h3,h4,h5,h6{font-weight:600;margin:0;color:#081828}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:inherit}